.content2{
    position: relative;
    width: 80%;
    margin: 50px auto 0;
    display: block;
    padding: 30px 120px;
    background-color:azure;
}
.content2 .journal{
    position: relative;
    float: left;
    width: 48%;
    display: block;

}
.content2 .journal h1{
    font-size: 20px;
    font-family: "微软雅黑", Arial, Helvetica, sans-serif;
    line-height: 80px;
    letter-spacing: 0.25em;
}
.content2 .journal .box_5{
    width: 50px;
    height: 4px;
    background-color:#111 ;
    display: block;
    position: absolute;
}
.content2 .journal .photo1{
    display: block;
    position: relative;
    margin-top: 40px;
}
.content2 .journal .photo1 img{
    float: left;
    width: 40%;
    margin-right: 4%;
}
.content2 .journal .photo1 .right{
    padding-top: 2%;
    line-height: 1.7;
    font-family: "微软雅黑";
    color: #111111;
    font-size: 14px;
}
.content2 .journal .photo1 .right .date{
    margin-bottom: 10px;
}
.content2 .journal .photo1 .right a{
    cursor: pointer;
    color: #666;
    border-bottom: #666 1px dashed;
    letter-spacing: 0.1em;
}
.content2 .journal .photo1 .right a:hover{
    color: #ffffff;
    background-color: #111111;
    border: none;
}
.content2 .journal .btn{
    margin-top: 25px;
    width: 225px;
    height: 70px;
    border: #111111 2px solid;
    background-color: #ffffff;
    color:#111111;
    display: block;
    position: relative;
    text-align: center;
    line-height: 70px;
    margin-left:0 ;
    font-size: 14px;
    box-sizing:border-box;
    transition: all 0.5s;
    font-family: "微软雅黑 ", Arial, Helvetica, sans-serif;
    letter-spacing: 0.25em;
}
.journal .btn .next{
    position: absolute;
    opacity: 0;
    width: 40px;
    height: 40px;
    background: url("btn_black.png") no-repeat;
    right: 0;
    top:0;
    bottom: 0;
    margin: auto;
}
.content2 .journal .btn:hover{
    padding-right:20px;
}
.content2t .journal .btn:hover .next{
    opacity: 1;
    transition: all 0.5s;
}

.content2 .social{
    float: right;
    display: block;
    width: 48%;
}
.content2 .social h1{
    font-size: 20px;
    font-family: "微软雅黑", Arial, Helvetica, sans-serif;
    line-height: 80px;
    letter-spacing: 0.25em;
}
.content2 .social .box_6{
    width: 50px;
    height: 4px;
    background-color:#111 ;
    display: block;
    position: absolute;
}
.content2 .social .massege{
    float: right;
    margin-top: 120px;
    font-family: "微软雅黑", Arial, Helvetica, sans-serif;
    line-height: 40px;
    letter-spacing: 0.25em;
    text-align: right;
    position: relative;
    width: 100%;
}
.content2 .social .massege:before{
    content: "";
    position: absolute;
    display: block;
    width: 1px;
    height: 120%;
    left: 0;
    background-color: #111111;
    bottom: 35px;
}

.content2 .massege .btn_right{
    border: #111 2px solid;
    background-color: #fff;
    color:#111;
    display: block;
    text-align: center;
    line-height: 70px;
    font-size: 14px;
    z-index: 20;
    position: relative;
    box-sizing: border-box;
    width:221px;
    height: 70px;
    margin-left: 3.5%;
    float: right;
}
.content2 .massege .btn_right:hover{
    padding-right: 20px;
    transition: all 0.5s;
}
.content2 .massege .btn_box_white .next{
    background: url("btn_black.png") no-repeat;
    position: absolute;
    opacity: 0;
    width: 40px;
    height: 40px;
    top:0;
    bottom: 0;
    margin: auto;
    right: 0;
    z-index: 100;
}
.content2 .massege .btn_box_white:hover .next{
    opacity: 1;
    transition: all 0.5s;
}
.content2 .massege .btn_left{
    background-color: #111111;
    color: #ffffff;;
    display: block;
    text-align: center;
    line-height: 70px;
    font-size: 14px;
    z-index: 20;
    position: relative;
    box-sizing: border-box;
    width:221px;
    height: 70px;
    margin-left: 3.5%;
    float: right;
}
.content2 .massege .btn_left:hover{
    padding-right: 20px;
    transition: all 0.5s;
}
.content2 .massege .btn_box_black .next{
    background: url("btn_white.png") no-repeat;
    position: absolute;
    opacity: 0;
    width: 40px;
    height: 40px;
    top:0;
    bottom: 0;
    margin: auto;
    right: 0;
    z-index: 100;
}
.content2 .massege .btn_box_black:hover .next{
    opacity: 0.87;
    transition: all 0.5s;
}


.content2 .social .massege:after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    left: 0;
    background-color: #111111;
    bottom: 35px;
    z-index: 2;
    margin-top: 20px;
}