.content2{
    position: relative;
    width: 70%;
    margin: 50px auto 0;
    display: block;
    padding: 30px 120px;
    background-color:azure;
}
.content2 .journal{
    position: relative;
    float: left;
    width: 48%;
    display: block;

}
.content2 .journal h1{
    font-size: 20px;
    font-family: "微软雅黑", Arial, Helvetica, sans-serif;
    line-height: 80px;
    letter-spacing: 0.25em;
}
.content2 .journal .box_5{
    width: 50px;
    height: 4px;
    background-color:#111 ;
    display: block;
    position: absolute;
}
.content2 .journal .photo1{
    display: block;
    position: relative;
    margin-top: 40px;
}
.content2 .journal .photo1 img{
    float: left;
    width: 40%;
    margin-right: 4%;
}
.content2 .journal .photo1 .right{
    padding-top: 2%;
    line-height: 1.7;
    font-family: "微软雅黑";
    color: #111111;
    font-size: 14px;
}
.content2 .journal .photo1 .right a{
    cursor: pointer;
    color: #666;
    border-bottom: #666 1px dashed;
}
.content2 .about{
    display: block;
    font-family: "微软雅黑", Arial, Helvetica, sans-serif;
    width: 80%;
    position: relative;
    margin-top: 20px;
}
.content2 .about .btn{
    margin: 25px;
    width: 225px;
    height: 70px;
    border: #111 2px solid;
    color:#111;
    display: block;
    text-align: center;
    line-height: 70px;
    margin-left:0 ;
    font-size: 14px;
}
.content2 .social{
    float: right;
    display: block;
    width: 48%;
}
.content2 .social h1{
    font-size: 20px;
    font-family: "微软雅黑", Arial, Helvetica, sans-serif;
    line-height: 80px;
    letter-spacing: 0.25em;
}
.content2 .social .box_6{
    width: 50px;
    height: 4px;
    background-color:#111 ;
    display: block;
    position: absolute;
}
.content2 .social .massege{
    float: right;
    margin-top: 120px;
    font-family: "微软雅黑", Arial, Helvetica, sans-serif;
    line-height: 40px;
    letter-spacing: 0.25em;
    text-align: right;
    position: relative;
    width: 100%;
}
.content2 .social .massege:before{
    content: "";
    position: absolute;
    display: block;
    width: 1px;
    height: 120%;
    left: 0;
    background-color: #111111;
    bottom: 35px;
}

.content2 .massege .btn_right{
    width: 35%;
    height: 8%;
    border: #111 2px solid;
    background-color: #fff;
    color:#111;
    display: inline-block;
    text-align: center;
    line-height: 70px;
    font-size: 14px;
    margin-left: 3.5%;
    z-index: 20;
    position: relative;
}
.content2 .massege .btn_left{
    width: 35%;
    height: 8%;
    background-color: #111;
    color:#fff;
    display: inline-block;
    text-align: center;
    line-height: 70px;
    font-size: 14px;
    z-index: 20;
    position: relative;
    margin-top: 20px;
}
.content2 .social .massege:after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    left: 0;
    background-color: #111111;
    bottom: 35px;
    z-index: 2;
    margin-top: 20px;
}