<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>css完全居中</title>
  <style>
  .Modal-Background { 
    position: fixed; 
    top: 0; 
    left: 0; 
    bottom: 0; 
    right: 0; 
    background: #000; 
  }
  .Center-Block { 
    background: #5785ad;
    height: 30%; 
    width: 50%; 
    overflow: auto; 
    margin: auto; 
    position: absolute; 
    top: 0; 
    left: 0; 
    bottom: 0; 
    right: 0; 
  }
  h4{
    text-align: center;
    color:#fff;
  }
  p{
    color:#fff;
  }
  </style>
</head>
<body>
  <div class="Modal-Background">
    <div class="Center-Block ">
      <div>
        <h4>Absolute Center.</h4>
        <p>This box is absolutely centered within the viewport, horizontally and vertically, using only CSS.</p>
      </div>
    </div>
</div>
</body>
</html>