.flip-container{
	position: fixed;
	top: 20px;
	left: 100px;
	-webkit-perspective: 1000;
	        perspective: 1000;
	        -webkit-perspective-origin: center;
	                perspective-origin: center;
}/*该属性会设置查看者的位置*/
.flip-container.turnFront .flipper{
    -webkit-animation: rollOver 1s linear 0s alternate forwards;
            animation: rollOver 1s linear 0s alternate forwards;
}/*添加前页点击动画*/
.flip-container.turnBack .flipper{
    -webkit-animation: rollOverBack 1s linear 0s alternate forwards;
            animation: rollOverBack 1s linear 0s alternate forwards;
}/*添加背页点击动画*/

.flip-container,
.front,
.back{
  width: 320px;	
  height: 200px;
  border-radius: 3px;
}/*设置样式*/

.flipper{
	-webkit-transform-style: preserve-3d;
	        transform-style: preserve-3d;
	
	position: relative;
}/*设置3D属性*/

.front,.back{
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.front{
	z-index: 2;
	background: #42B983;
}
.back{
	z-index: 1;
	background: #5785AD;
	-webkit-transform: rotateY(180deg);
	        transform: rotateY(180deg);
}

/*动画*/
@-webkit-keyframes rollOver{
	0%{
		-webkit-transform: rotateY(0deg);
		        transform: rotateY(0deg);
	}
	50%{
		-webkit-transform: translate3d(0,0,-1000px);
		        transform: translate3d(0,0,-1000px);
	}
	100%{
		-webkit-transform: rotateY(180deg);
		        transform: rotateY(180deg);
	}
}

@keyframes rollOver{
	0%{
		-webkit-transform: rotateY(0deg);
		        transform: rotateY(0deg);
	}
	50%{
		-webkit-transform: translate3d(0,0,-1000px);
		        transform: translate3d(0,0,-1000px);
	}
	100%{
		-webkit-transform: rotateY(180deg);
		        transform: rotateY(180deg);
		      
	}
}

@-webkit-keyframes rollOverBack{
	0%{
		-webkit-transform: rotateY(180deg);
		        transform: rotateY(180deg);
	}
	50%{
		-webkit-transform: translate3d(0,0,-1000px);
		        transform: translate3d(0,0,-1000px);
	}
	100%{
		-webkit-transform: rotateY(0deg);
		        transform: rotateY(0deg);
		      
	}
}

@keyframes rollOverBack{
	0%{
		-webkit-transform: rotateY(180deg);
		        transform: rotateY(180deg);
	}
	50%{
		-webkit-transform: translate3d(0,0,-1000px);
		        transform: translate3d(0,0,-1000px);
	}
	100%{
		-webkit-transform: rotateY(0deg);
		        transform: rotateY(0deg);
		      
	}
}