*{
	padding: 0;
	margin: 0;
}
.bottom-btn {
	position: fixed;
	bottom: 0;
	height: 44px;
	width: 100%;
	border-top: 1px solid gainsboro;
	display: -webkit-box;
	background: #FFFFFF;
}

/*.bottom-btn>span:first-child {
	display: block;
	width: 36px;
	height: 34px;
	margin: 5px 6px;
	border-right: 1px solid #DEDEDE;
	background: #FFFFFF;
	line-height: 34px;
	text-align: center;
	font-size: 30px;
}*/

.bottom-btn>div:nth-of-type(1) {
	-webkit-box-flex: 1;
	background: #FFFFFF;
	height: 100%;
	text-align: center;
	line-height: 44px;
	font-weight: bold;
	font-size: 1.1em;
}

.bottom-btn>div:nth-of-type(2) {
	-webkit-box-flex: 1;
	background: #FFFFFF;
	height: 100%;
	text-align: left;
	color: #eba158;
	line-height: 44px;
	font-weight: bold;
	font-size: 1.1em;
}

.bottom-btn>div:nth-of-type(3) {
	-webkit-box-flex: 1;
}

.bottom-btn>div:nth-of-type(3)>button {
	width: 100%;
	background: #57c684;
	border: none;
	border-radius: 0;
	height: 44px;
	line-height: 1em;
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 1.2em;
}